<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard Index</title>
</head>

<body>
	<code>
		<h1>Dashboard Engine <b>Development Enviroment Server</b></h1>
		<hr/>
		<br/>
		<label>Please select your dashboard below to visualize from local enviroment:</label>
		<br>
		<br>
		<%= htmlWebpackPlugin.options.dashboards %>
	</code>
</body>

</html>